In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('Alldata/All-Crash.csv', encoding='latin-1')

In [3]:
df.head()

,Date,Location,Flight,Fatalities
0,9/17/1908,Fort Myer- VirginiaMilitary - U.S. Army,Wright Flyer III?,1/2(0)
1,9/7/1909,Juvisy-sur-Orge- France?,Wright ByplaneSC1,1/1(0)
2,7/12/1912,Atlantic City- New JerseyMilitary - U.S. Navy,Dirigible?,5/5(0)
3,8/6/1913,Victoria- British Columbia- CanadaPrivate,Curtiss seaplane?,1/1(0)
4,9/9/1913,Over the North SeaMilitary - German Navy,Zeppelin L-1 (airship)?,14/20(0)

In [4]:
df['Date'] = pd.to_datetime(df['Date'], errors ='coerce')

In [5]:
df['Year'], df['Month'], df['Day'] = df['Date'].dt.year.dropna(), df['Date'].dt.month, df['Date'].dt.day

In [6]:
df['Casualties'] = df['Fatalities'].apply(lambda x: x.split('/')[0])

In [7]:
pattern = re.compile(r'\/(\d+)')
def get_aboard(x):
    match = pattern.search(x)
    if match:
        return match.group(1)
    return 'NaN'

In [8]:
#to get people on board
df['Aboard'] = df['Fatalities'].apply(lambda x:  get_aboard(str(x)))

In [9]:
def casualty_percentage(row):
    if row['Aboard'] == 'NaN' or row['Aboard'] == '0' or row['Casualties'] == '?':
        return '-'
    else:
        return (int(row['Casualties'])/int(row['Aboard']))*100

In [10]:
df['% Casualty'] = df.apply(casualty_percentage, axis=1)

In [11]:
def get_decade(year):
    if year < 1920:
        return 1920
    year = str(year)
    dec = year[0:3] + '0'
    return int(dec)

In [12]:
df['Decade'] =  df['Year'].apply(lambda x: get_decade(x))

In [13]:
df['% Casualty'] = pd.to_numeric(df['% Casualty'], errors='coerce')

In [14]:
# Max Aircrash by years
df['Year'].value_counts().head(10)

1946    264
1947    246
1948    228
1951    222
1945    219
1950    207
1953    207
1949    201
1952    195
1954    186
Name: Year, dtype: int64

In [15]:
#By Month
df['Month'].value_counts()

12    967
1     878
11    853
8     845
10    826
9     795
3     787
7     741
2     688
6     670
4     650
5     648
Name: Month, dtype: int64

In [16]:
df['Decade'].value_counts()

1940    1689
1950    1637
1960    1111
1930    1032
1970     860
1990     775
1980     721
1920     639
2000     618
2010     266
Name: Decade, dtype: int64

In [17]:
df.groupby('Decade')['% Casualty'].mean()

Decade
1920    89.849624
1930    85.399573
1940    85.304085
1950    83.407319
1960    84.247202
1970    83.468645
1980    82.385921
1990    80.413316
2000    81.565931
2010    83.380435
Name: % Casualty, dtype: float64

In [18]:
df.to_csv('data.csv')